<nav class="navbar navbar-expand-lg navbar-light p-3 mt-4 rounded fixed-top text-white" style="width: 8%; height: 95vh; background-color: #0f1217; margin-left: 2em;" id="nav">
    <div class="d-flex flex-column justify-content-center align-items-start text-white w-100">
        <div class="container-fluid w-100" id="navstuff">
            <!-- <a class="navbar-brand text-white" href="#">Movies</a> -->
            <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" id="hamBtn">
                <span class="navbar-toggler-icon bg-light rounded border border-white"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav d-flex flex-column justify-content-center align-items-center text-white w-100">
                    <li class="nav-item" id="movielogo">
                        <a class="nav-link text-white" href="#" style="font-size: 1.2em;">Movies</a>
                    </li>
                    <hr style="width: 100%">
                    <li class="nav-item mb-3" id="home">
                        <a class="nav-link text-white" href="/">
                            <i class="fas fa-home" style="font-size: 1.6em;"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white d-flex justify-content-center" href="/new">
                            <i class="fas fa-plus-square d-flex justify-content-center" style="font-size: 1.6em;"></i>
                        </a>
                    </li>
                    <li class="nav-item mt-4">
                        <a class="nav-link text-white d-flex justify-content-center" href="/movie/favorites">
                            <i class="fas fa-bookmark d-flex justify-content-center" style="font-size: 1.6em;"></i>
                        </a>
                    </li>
        
                </ul>
            </div>
        </div>
    </div>
    
</nav>